body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(231, 230, 229);
}

.card {
  font-family: Arial;
  background-color: #1b90b3;
  width: 500px;
  height: 300px;
  border-radius: 12px;
  text-align: center;
  padding-top: 10px;
}